.container {
  width: 100vw;
  padding: 80px;
  margin: 0 auto;
}

.container-inverse {
  background: #333;
  color: #eee;
}

.container-primary {
  background: $primary-color;
  color: #eee;
}

.container-inner {
  width: 85%;
  margin: auto;
}

.container-icons {
  margin: auto;
  max-width: 200px;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and(max-width: $tablet) {
    flex-direction: column;
  }

  &-child-heading {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      height: 2px;
      background: #eee;
    }
  }
}

.container-footer {
  padding: 0px;
  margin: auto;

  &-flex {
    display: flex;
    justify-content: center;
  }
}

.row {
  width: 100%;
  text-align: center;
  margin: 30px auto;

  &-container {
    width: 60%;
    max-width: 455px;
    padding: 30px;
    align-self: center;
    margin-left: auto;
    position: relative;
    @media screen and(max-width:$medium-screen) {
      width: 100%;
      margin: auto;
    }
    &:before {
      position: absolute;
      content: "";
      width: 84%;
      height: 2px;
      background: white;
      top: 52%;
      left: 50%;
      transform: translateX(-50%);
      @media screen and(width: 1440px) {
        top: 50%;
      }
    }
  }
}

.row-quote {
  width: 50%;
  margin: auto;
  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}

.row-copyright {
  margin: 0 auto;
}

.column {
  display: block;
  text-align: center;
  @media only screen and (min-width: $tablet) {
    margin-right: 15px;
  }
}
