.gallery-container {
  padding-bottom: 120px;
  @media screen and (min-width: $desktop) {
  }
  &-child-heading {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 50px;
      height: 2px;
      background: darkgray;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .grid-container {
    display: grid;
    width: 95%;
    margin: 0 auto;

    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: white;
    max-width: 1200px;
  }

  .grid-item {
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
  }
}
