.container {
    width: 100vw;
    padding: 30px;
    margin: 0 auto;
}

.container-inverse {
    background: #333;
    color: #eee;
}

.container-inner {
    width: 85%;
    margin: auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-flex-child {
    flex: 1;
}

.row {
    width: 100%;
    text-align: center;
    margin: 30px auto 0;
}

.row-quote {
    width: 50%;
    margin: auto;
}



.column {
    display: block;
    text-align: center;
    margin: auto;
}


